<!DOCTYPE html>
{% autoescape true %}
<html itemscope="" itemtype="http://schema.org/Person" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="keywords" content="ostapenko maxim, maxim, ostapenko, family tree, contact, resume, dnepropetrovsk, ukraine, lisbon, portugal, technology transfer, innovation economics, entrepreneurship, economic research"/>
<meta name="description" content="Maxim Ostapenko - technology transfer manager in Lisbon, Portugal. Extensive background of economic systems modelling and forecasting. Experienced in cooperation with technology-based enterprises and innovation agents."/>
<meta name="author" content="Maxim Ostapenko">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta itemprop="name" content="Maxim Ostapenko - business analyst">
<meta itemprop="image" content="http://m3.licdn.com/media/p/4/000/139/130/18be552.jpg">
<meta itemprop="description" content="Check out my skills and work experience - it's just small preview of the tasks I can help your company with. If you share my interests - I'll be happy to talk to you!">
<title>Maxim Ostapenko | Contact me</title>
<link href="favicon.ico" type="image/x-icon" rel="icon"/>
<link href="favicon.ico" type="image/x-icon" rel="shortcut icon"/>
<link rel="stylesheet" href="../stylesheets/main.css" type="text/css">
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KHZN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KHZN');</script>
<!-- End Google Tag Manager -->

<div id="container">
   <header>
   <div class="mainmenu">
    <ul>
     <li>
      <a href="/">Info</a></li>
     <li>
      <a href="http://www.linkedin.com/profile/pdf?id=68144577&amp;locale=en_US&amp;authType=name&amp;authToken=TpX3&amp;pdfFileName=MaximOstapenko&amp;disablePdfCompression=true&amp;trk=pdf_pro_full">Curriculum Vitae</a></li>
     <li>
      <a href="/contacts">Contacts</a></li>
     <li>
      &nbsp;</li>
    </ul>
   </div>
   </header>
   <div class="wrapper">
    <div class="content_wrapper">
     <div class="content">
      <p class="my">
       <a class="h23" href="https://plus.google.com/116335894942723779820/about" target="_blank">Google +</a></p>
      <p class="my">
       <a class="h23" href="https://www.facebook.com/max.ostapenko" target="_blank">Facebook</a></p>
      <p class="my">
       skype: <a class="h23" href="skype:ostapenko_maxim?call">ostapenko_maxim</a></p>
      <p class="my">
       phone: <a class="h23" href="callto:+380675664010">+38 067 566 40 10</a></p>
     </div>
    </div>
   </div>
   <footer></footer></div>
 </body>
</html>
{% endautoescape %}