<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Maxim Ostapenko | QR Coder</title>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KHZN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KHZN');</script>
<!-- End Google Tag Manager -->


	<form method='POST'>
		<input type='hidden' name='cht' value='qr' />
		<input type='hidden' name='chs' value='300x300'/>
		<input type='text' name='chl' value='This is my QR code' size="50" maxlength="150"/>
		<input type='submit'/>
    </form>
    {{qr}}
</body>
</html>
