<!DOCTYPE html>
{% raw %}
<html lang="en" itemscope itemtype="http://schema.org/Person">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>Maxim Ostapenko</title>
  <meta name="author" content="Maxim Ostapenko">
  <meta itemprop="name" content="Maxim Ostapenko">
  <meta itemprop="image" content="http://m3.licdn.com/media/p/4/000/139/130/18be552.jpg">
  <meta itemprop="description" name="description" content="Maxim Ostapenko - product manager for data science products in OWOX, Ukraine. Extensive background in e-commerce, analytics, economic systems modelling and forecasting. Experienced with data to knowledge transformation, cutting edge data analysis technologies and software development."/>
  <meta name="keywords" content="ostapenko maxim, maxim, ostapenko, family tree, contact, resume, dnepropetrovsk, ukraine, lisbon, portugal, data science, innovation economics, entrepreneurship, economic research"/>
  <link href="favicon.ico" type="image/x-icon" rel="icon"/>
  <link href="favicon.ico" type="image/x-icon" rel="shortcut icon"/>

  <link rel="stylesheet" href="./stylesheets/main.css" type="text/css">

  <style>
    body {
      font-family: 'Roboto 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin: 0;
      background: #f1f1f1;
    }

  </style>
</head>

<body unresolved>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KCK8L2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KCK8L2');</script>
  <!-- End Google Tag Manager -->

  
  <noscript>
   <script>
     alert("You must enable JavaScript and reload!");
   </script>
   <noscript>
     
    <div id="container">
      <header>
        <div class="mainmenu">
         <ul>
           <li><a href="/">Info</a></li>
           <li><a href="http://www.linkedin.com/profile/pdf?id=68144577&locale=en_US&authType=name&authToken=TpX3&pdfFileName=MaximOstapenko&disablePdfCompression=true&trk=pdf_pro_full">Curriculum Vitae</a></li>
           <li><a href="/contacts">Contacts</a></li>
           <li></li>
         </ul>
       </div>
     </header>
     <div class="wrapper">
       <div class="content_wrapper">
         <div class="content">
           <p class="my">Hello world!</p>
           <p class="my">My name is Max.</p>
           <p class="my">I'm working in the area of analytics: evaluation, forecasting, optimisation and machine learning.
             Born in '87. Got my first M.Sc. from Dnipropetrovsk State University(Ukraine) in 2009 - Economic cybernetics.</p>
             <p class="my">Interested in start-ups and innovative industries, so continued with my studies with Economics of Innovation and Entrepreneurship program from University of Algarve(Portugal).</p>
             <p class="my">In my leisure time I enjoy photography, Indian cuisine and improving my computer skills .</p>
           </div></div></div>
           <footer></footer>
         </div>

       </body>
       </html>
       {% endraw %}